.popup-date-picker .ant-picker-date-panel {
	width: auto;
}

.popup-date-picker .ant-picker-date-panel .ant-picker-body .ant-picker-content {
	width: auto;
}

.popup-date-picker .ant-picker-cell-inner {
	position: relative;
}

.popup-date-picker .solar-day {
	position: absolute;
	top: 4px;
	left: 4px;

	/* font-size: 18px; */
	font-weight: bold;
}

.popup-date-picker .lunar-day {
	position: absolute;
	bottom: 4px;
	right: 4px;

	font-size: 12px;
}
